.titleBody {
    position: relative;
    height: 35px;
    width: 100%;
    // width: 500px;
    padding: 5px;
    box-sizing: border-box;

    background-color: rgb(50, 50, 50);

    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: rgb(40, 40, 40);

    & .titleBar {
        // height: 100%;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .projectName {
            // 名稱過長顯示省略符
            overflow: hidden; // 超出文本隱藏
            text-overflow: ellipsis; // 溢出用省略符顯示
            white-space: nowrap; // 溢出不換行
        }

        & .iconBar {
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;

            & .iconItem {

                & .icon {
                    width: 15px;
                    height: 15px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                margin-left: 3px;
                border-radius: 8px;
            }

            & .iconItem:hover {
                background-color: rgb(100, 100, 100);
            }
        }
    }
}