.fileManagerBody {
    position: relative;
    height: 100%;
    width: 100%;

    & .fileManagerContent{
        margin: 0px;
        padding: 0px;
        position: relative;
    
        top: 35px;
        height: calc(100% - 35px);
        width: 100%;
    
        color: rgb(204, 204, 204);
        background-color: rgb(37, 37, 38);
    
        overflow:auto;
    }
}


.icon {
    width: 15px;
    height: 15px;
}