.body {
    // padding-left: 20px;
    height: 100vh;
    width: 100%;
    background-color:rgb(80, 80, 80);
}

// .isFileAngleIconBackground{
//     color: rgb(0,0,0,0);
// }


.fileItem {
    // 名稱過長顯示省略符
    overflow: hidden; // 超出文本隱藏
    text-overflow: ellipsis; // 溢出用省略符顯示
    white-space: nowrap; // 溢出不換行

    // 防止文字被選中
    -moz-user-select: none; // 火狐
    -webkit-user-select: none; // 谷歌
    -ms-user-sele: none; // IE
    user-select: none;
    box-sizing: border-box;

    cursor: pointer;
    padding: 0px 0px;
    background-color: rgb(80, 80, 80);

    & .angleIcon {
        // margin-right: 3px;
        margin: 0px 3px;

        & svg {
            width: 15px;
            height: 15px;
        }
    }

    & .expandLine {
        margin-left: 9px;
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: rgb(150, 150, 150);
    }

    & .isFileAngleIconBackground {
        color: rgb(0, 0, 0, 0);
    }


    & .fileIcon {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }

    // & .fileName {}

    & .renameInput {
        margin: 0;
        padding: 0;
        font-size:16.5px;
        // height: "pixels";
        color: rgb(255, 255, 255);
        height: 100%;
        background-color: transparent;
        // background-color: rgb(55, 55, 61);
        outline: 0 none;
        border: none
    }

    & .renameInput:focus {
        // color: rgb(80, 80, 80);
    }
}


.fileItem:hover {
    background-color: rgb(55, 55, 55);
    // background-color: rgb(9,71,113);
}