.fileManagerBody {
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
    position: absolute;
    height: 100%;
    width: 100%;

    color: rgb(204, 204, 204);
    // background-color: rgb(80, 80, 80);
    background-color: rgb(37, 37, 38);
}

.icon {
    width: 15px;
    height: 15px;
}