.mainFrame {
    color: black;
    display: flex;
    height: 100vh;
    width: 100%;
    // justify-content: space-between;
    // justify-content: center;

    & .leftSideBar {
        width: 100%;
        background-color: rgb(239, 239, 239);

        & .listHeaderBar {
            color: rgb(183, 183, 183);
            display: flex;
            margin: 0px 20px;
            justify-content: space-between;
            align-items: flex-end;
            height: 8%;
            width: auto;
            margin-bottom: 3px;

            & .headerNameTitle {
                width: 40%;
            }

            & .headerOwnerTitle {
                width: 10%;

                @media (max-width:1100px) {
                    width: 20%;
                }

                @media (max-width:700px) {
                    display: none;
                }
            }

            & .headerLastTimeTitle {
                width: 20%;

                @media (max-width:1100px) {
                    display: none;
                }
            }

        }

        & .listMenuBar {
            margin: 0px 5px;
            height: auto;

            & .listItem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0px 15px;
                padding: 10px 0px;
                list-style: none;
                height: auto;

                & .itemName {
                    width: 40%;

                    & img {
                        margin: 0px 10px;
                    }
                }

                & .itemOwner {
                    width: 10%;

                    @media (max-width:1100px) {
                        width: 20%;
                    }

                    @media (max-width:700px) {
                        display: none;
                    }
                }

                & .itemLastTime {
                    width: 20%;

                    @media (max-width:1100px) {
                        display: none;
                    }
                }
            }

            & .listItem:hover {
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
            }
        }

    }

    & .rightSideBar {
        padding: 10px 0px;
        width: 350px;
        background-color: rgb(225, 226, 226);
        & .utilMenuBar {
            & .utilItem {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 10px 0px;
                height: 55px;
                & img{
                    // margin-left: 30px;
                    margin: 0px 20px;
                }
                & span{

                }
            }
            & .utilItem:hover {
                background-color: rgb(255, 255, 255);

            }
        }
    }
}

.line {
    width: auto;
    height: 2px;
    margin: 0px 20px;
    background-color: rgb(210, 210, 211);
    border-radius: 10px
}