.rightSideBar {
    padding: 10px 0px;
    width: 350px;
    color: rgb(78, 78, 78);
    background-color: rgb(225, 226, 226);
    font-weight: bold;

    overflow:auto;

    & .utilMenuBar {

        & .utilItem,
        & .selectedUtilItem,
        & .disabledUtilItem {
            cursor: pointer;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 10px 0px;
            height: 30px;
            width: 100%;

            & .icon {
                color: #b2b3b4;
                // margin-left: 30px;
                margin: 0px 20px;
                height: 35px;
                width: 35px;
            }

            & span {
                width: 190.45px;
                white-space: nowrap; // 溢出不換行
            }
        }

        & .utilItem:hover {
            background-color: rgb(255, 255, 255);

        }

        & .selectedUtilItem {
            cursor: default;
            background-color: rgb(255, 255, 255);
        }
        & .disabledUtilItem{
            cursor: no-drop;
            opacity: 0.5;
            color: white;
            background-color: rgb(63, 63, 63);
        }
    }
}

.line {
    width: auto;
    height: 2px;
    margin: 0px 20px;
    background-color: rgb(210, 210, 211);
    border-radius: 10px
}